/* src/App.css */
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(50, 50, 50);
}

.page {
  padding: 20px;
}

.home-page {
  text-align: center;
  background: rgb(200, 200, 200);
}

.battle-simulation-page {
  text-align: center;
}

.results-page {
  background: rgb(200, 200, 200);
  text-align: center;
}

.battle-summary-box {
  /* Add styling for the battle summary box */
}

.win-percent {
  /* Add styling for the win percentage */
  margin-top: 20;
  font-weight: 600;
}

.unit-selection-section {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f4f4f4;
}

.unit-selection-section.attacking {
  background-color: #ffe8e8;
}

.unit-selection-section.defending {
  background-color: #e8e8ff;
}

.unit-selection-summary {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  /* background: rgb(168 168 168 / 60%); */
  margin: 0 !important;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
}

.action-buttons {
  margin-top: 20px;
}

/* Add more styling as needed */